<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
    <form method="POST" action="/final">
      <h1>
        Basic Information
      </h1>
      First Name:<br>
      <input type="text" name="firstname"><br>
        Last Name:<br>
      <input type="text" name="lastname"> <br>
      
      Image URL:<br>
      <input type="text" name="image"><br>
      
      Phone Number:<br>
      <input type="text" name="phonenumber"><br>
      E-Mail:<br>
      <input type="text" name="email">
  
      
      <h1>
        Education
      </h1>
      
       School:<br>
      <input type="text" name="school"><br>
        Graduation Year:<br>
      <input type="text" name="graduationyear"> <br>
        GPA:<br>
      <input type="text" name="gpa">
        
      
      <h1>
        Extracurriculars
      </h1>
      
      Extracurricular 1: <br>
    <input type="text" name="extracurricular1"><br>
      Dates: <br>
    <input type="text" name="dates1"><br>
      Description:<br>
    <input type="textarea" name="description1"><br>
      Description:<br>
    <input type="textarea" name="description2"><br><br><br>
    
      Extracurricular 2: <br>
    <input type="text" name="extracurricular2"><br>
      Dates: <br>
    <input type="text" name="dates2"><br>
      Description:<br>
    <input type="textarea" name="description3"><br>
      Description:<br>
    <input type="textarea" name="description4"><br><br><br>
    
      Extracurricular 3: <br>
    <input type="text" name="extracurricular3"><br>
      Dates: <br>
    <input type="text" name="dates3"><br>
      Description:<br>
    <input type="textarea" name="description5"><br>
      Description:<br>
    <input type="textarea" name="description6"><br><br><br>
      
      
      <h1>
        Volunteer and Work Experience
      </h1>
      
       Experience 1: <br>
    <input type="text" name="experience1"><br>
      Dates: <br>
    <input type="text" name="dates11"><br>
      Description:<br>
    <input type="textarea" name="description11"><br>
      Description:<br>
    <input type="textarea" name="description21"><br><br><br>
    
      Experience 2: <br>
    <input type="text" name="experience2"><br>
      Dates: <br>
    <input type="text" name="dates21"><br>
      Description:<br>
    <input type="textarea" name="description31"><br>
      Description:<br>
    <input type="textarea" name="description41"><br><br><br>
    
      Experience 3: <br>
    <input type="text" name="experience3"><br>
      Dates: <br>
    <input type="text" name="dates31"><br>
      Description:<br>
    <input type="textarea" name="description51"><br>
      Description:<br>
    <input type="textarea" name="description61"><br><br><br>
      
      
      <h1>
        Awards
      </h1>
      
      Award 1: <br>
      <input type="text" name="award1"><br>
      Award 2: <br>
      <input type="text" name="award3"><br>
      Award 3: <br>
      <input type="text" name="award3"><br><br>
      
      
      
      
    <input type="submit" value="Submit">
      
    </form>
  </div>

</body>
</html>



<!--Name-->
<!--Contact Info-->
<!--Image-->
<!--Education-->
<!--Extracurriculars-->
<!--Volunteer Experience-->
<!--Work Experience-->
<!--Awards, certifications, etc.-->
<!--Skills-->