<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
    <form method="POST" action="/final">
      <h1>
        Basic Information
      </h1>
      First Name:<br>
      <input type="text" name="firstname"><br>
        Last Name:<br>
      <input type="text" name="lastname"> <br>
      
      Image URL:<br>
      <input type="text" name="image"><br>
      
      Phone Number:<br>
      <input type="text" name="phonenumber"><br>
      E-Mail:<br>
      <input type="text" name="email">
  
      
      <h1>
        Education
      </h1>
      
       School:<br>
      <input type="text" name="school"><br>
        Graduation Year:<br>
      <input type="text" name="graduationyear"> <br>
        GPA:<br>
      <input type="text" name="gpa">
        
      
      <h1>
        Extracurriculars
      </h1>
      
      Extracurricular 1: <br>
    <input type="text" name="extracurricular1"><br>
      Description:
    <input type="text" name="description1"><br>
      Extracurricular 2: <br>
    <input type="text" name="extracurricular2"><br>
      Description:
    <input type="text" name="description2"><br>
      Extracurricular 3: <br>
    <input type="text" name="extracurricular3"><br>
      Description:
    <input type="text" name="description3"><br>
      
      
    <input type="submit" value="Submit">
      
    </form>
  </div>

</body>
</html>



<!--Name-->
<!--Contact Info-->
<!--Image-->
<!--Education-->
<!--Extracurriculars-->
<!--Volunteer Experience-->
<!--Work Experience-->
<!--Awards, certifications, etc.-->
<!--Skills-->